.review {
    margin-bottom: 20px;
    /* border: 0.1px solid rgb(210, 207, 214); */
    /* border: 0.1px solid rgba(114, 82, 243, 0.8); */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
    padding: 10px;
    background: #fff;
}

.rating i {
    color: gold;
    font-size: 70%;
}

.customerImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.customerName {
    margin-left: 10px;
    display: inline-block;
}

.customerName h4 {
    font-size: 110%;
    font-weight: 550;
    color: rgba(72, 72, 72, 0.884);
}

.customerName span,
.comments {
    text-align: left;
    color: rgba(72, 72, 72, 0.884);
}

.rating {
    margin: 15px 0;
}

#reviewContainer {
    height: 300px;
    overflow-y: scroll;
    padding: 10px 15px;
    width: 95%;
    margin: auto;
    box-sizing: border-box;
    background: whitesmoke;
}

#reviewContainer::-webkit-scrollbar {
    width: 7px;
}

#reviewContainer::-webkit-scrollbar-thumb {
    background-color: rgba(114, 82, 243, 0.8);
}

#reviewContainer::-webkit-scrollbar-track {
    background: gray;
}