.resultListContainer {
    width: 100%;
    background: #fff;
    padding-top: 35px;
    min-height: auto;
    max-height: 400px;
    overflow-y: scroll;
    position: relative;
    top: -25px;
    border-radius: 10px 10px 0 0;
    z-index: 1;
    box-shadow: 0 2px 5px grey;
}

.resultListContainer::-webkit-scrollbar {
    width: 10px;
}

.resultListContainer::-webkit-scrollbar-thumb {
    /* background: rgba(114, 82, 243, 0.9); */
    background: gold;
}

.hover {
    transition: all 0.7s;
}

.hover:hover {
    background: rgba(114, 82, 243, 0.9);
}