.tagContainer {
    width: 90%;
    margin: 0 auto;
    color: rgb(214, 207, 207);
    text-align: center;
    /* margin-top: 40px; */
    /* background: rgba(114, 82, 243, 0.9); */
}

.tag {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 10px 3px;
    cursor: pointer;
    transition: all 0.5s linear;
    color: rgb(214, 207, 207);
    font-weight: 500;
}

.tag.active {
    /* color: gray; */
    color: #fff;
    background: rgba(114, 82, 243, 0.9);
    /* box-shadow: 10px 13px 29px -10px rgba(0, 0, 0, 0.9); */
    box-shadow: 10px 13px 29px -10px rgba(114, 82, 243, 0.9);
}